@keyframes background-fade {
    0% {
        background-color: #fe6df4;
    }
    25% {
        background-color: #6e6fff;
    }
    50% {
        background-color: #6effcb;
    }
    75% {
        background-color: #ff6e6d;
    }
    100% {
        background-color: #fe6df4;
    }
}

body {
    background: #fe6df4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    animation: background-fade 15s linear infinite;
}

.main, .startCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49vh;
}

.bttn {
    background-color: #5a2cda;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border: #a689f7 solid 2px;
    border-radius: 5px;

    text-decoration: none;
    color: #eee;
}

.bttn:hover {
    background-color: #8d63ff;
    color: #eee;

    cursor: pointer;
}

.bttn:active {
    background-color: #c4afff;
    color: #333;
}